/* ReSharper disable all */
/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/



a, .btn-link { color: #0366d6; }


app {
    display: flex;
    flex-direction: row;
    position: relative;
}

.top-row {
    align-items: center;
    display: flex;
    height: 3.5rem;
}

.main { flex: 1; }

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a, .main .top-row .btn-link {
    margin-left: 1.5rem;
    white-space: nowrap;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    height: 100vh;
    top: 0;
    width: 250px;
}

.sidebar .top-row { background-color: rgba(0, 0, 0, 0.4); }

.sidebar .navbar-brand { font-size: 1.1rem; }

.sidebar .oi {
    font-size: 1.1rem;
    top: -2px;
    vertical-align: text-top;
    width: 2rem;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type { padding-top: 1rem; }

.sidebar .nav-item:last-of-type { padding-bottom: 1rem; }

.sidebar .nav-item a {
    align-items: center;
    border-radius: 4px;
    color: #d7d7d7;
    display: flex;
    height: 3rem;
    line-height: 3rem;
}

.sidebar .nav-item a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.sidebar .nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.content { padding-top: 1.1rem; }

.navbar-toggler { background-color: rgba(255, 255, 255, 0.1); }

.valid.modified:not([type=checkbox]) { outline: 1px solid #26b050; }

.invalid { outline: 1px solid red; }

.validation-message { color: red; }

#blazor-error-ui {
    background: transparent;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui div:last-of-type {
    background: black;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#blazor-error-ui a { color: white; }


@media (max-width: 767.98px) {
    .main .top-row { display: none; }
}


/*

@media (min-width: 768px) {
    app { flex-direction: row; }



    .main .top-row {
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler { display: none; }

    .sidebar .collapse {*/

/* Never collapse the sidebar for wide screens */

/*display: block;
    }
}*/






/*NOTE Custom*/

/*.z-index-1 { z-index: 1 !important; }*/


::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
    background: rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}